body {
   font-size: 10pt;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: black;
    line-height: 14pt;
    margin: 10px;
    margin-right: 20px;
}
 
 h1 {
   font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-weight: bold;
   line-height: 20pt;
 }
 
 #divHeader {
    border: 2px solid black;
    width: 100%;
    background-color: lightgrey;
    padding: 10px;
    padding-right: 0px;
 }

 #leftNav {
    width:200px;
    margin-top: 5px;
    border: 2px solid black;
    background-color: #CCCCCC;
    float:left;
    overflow: hidden;
    padding: 5px;
 }

 #leftNav ul {
    margin-left: -10px;
 }

 #leftNav ul a {
   text-decoration: none;
}

#leftNav ul a:link, a:visited {
   color: black;
}

#leftNav ul a:hover, a:active {
  color: blue;
  font-weight: bold;
}


 #mainPane {
    width: 100%;
 }

 #contentPane {
    padding-top: 5px;
    margin-left: 240px;
 }

 #logoImage {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
 }

 #headerTitle {
    font-size: 18pt;
    font-weight: bold;
    vertical-align: middle;
 }
  
 img {
   border:none; 
}
 
 
 a { 
   text-decoration: none;
 }
 
 .headertext {
    font-size: x-large;
    font-weight: bold;
 }

 .asabove {
    margin-top: 20px;
 }

 .sobelow {
   margin-bottom: 20px;
}

 .contenttext { 
   
 }

 
 div.footer {
   font-size: 9pt;
   font-style: italic;
   line-height: 12pt;
   text-align: center;
   padding-top: 30pt;
 }